
.cards-items{
    float: left;
    border: 1px solid rgb(94, 94, 173);
    width: 200px;
    margin-left: 20px;
    box-shadow: 1px 1px 5px rgb(48, 48, 90);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: antiquewhite;
  }
  
  .titulos h1{
    
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87
    
  }

 .botonAgregar{
  background-color: rgb(94, 94, 173);
  border: none;
  font-family: var(--mulish-font);
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto;
  width: 112px;
  height: 36px;
  cursor: pointer;
}

.botonCount{
  color:rgb(94, 94, 173) ;
  width: 50%;
  height: 50%;
  border: 1px solid rgb(94, 94, 173);
  font-size: 1.6rem;
  transition: all 250ms ease-out;
}
.botonCount:hover {
  border: none;
  color: var(--just-white);
  background-color: var(--primary-color);
}
