.spinner{
    color: beige;
    display: flex;
    justify-content: center;
}

.spinning{
    animation: spinner 60s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}