
.navbar{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Sigmar One", cursive;
    
    
  }
  
  ul.navbar li{
    align-items: center;
    margin-right: 10px;
    font-family: "Sigmar One", cursive;
    
   }
   ul.navbar li button{
    text-decoration: none;
    text-decoration-color: none ;
    background-color: rgb(114, 114, 187);
    color: whitesmoke;
   }

 

@media (max-width: 560px) {
  .navbar{
      grid-template-columns: 100%;

  }
}    

@media (max-width: 560px) {
  ul.navbar li{
      grid-template-columns: 100%;

  }
}    


@media (max-width: 560px) {
  ul.navbar li button{
      grid-template-columns: 100%;

  }
}    

.link{
  color: rgb(13, 13, 15);
  text-decoration: dotted;
  border-style:dashed;
}

.itemTotal{
  border-radius: 50%;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: black;
  color:rgb(114, 114, 187);
  
}