
.navbar{
    list-style: none;
    display: flex;
    align-items: center;
    
    
  }
  
  ul.navbar li{
    align-items: center;
    margin-right: 15px;
   }
   ul.navbar li button{
    background-color: rgb(114, 114, 187);
    color: whitesmoke;
   }

 

@media (max-width: 560px) {
  .navbar{
      grid-template-columns: 100%;

  }
}    

@media (max-width: 560px) {
  ul.navbar li{
      grid-template-columns: 100%;

  }
}    


@media (max-width: 560px) {
  ul.navbar li button{
      grid-template-columns: 100%;

  }
}    
