
.imagenHeader {
  width: 200;
  background-color: black;
  display: flex;
  padding: 10px 25px;
  box-shadow: 1px 5px 15px #ff0000ba;
  
  
}
.navbar{
    list-style: none;
    display: flex;
    align-items: center;

    
}
ul.navbar li{
    align-items: center;
    margin-right: 15px;
  
    
    
}

.mainHeader{
 width: 100;
 display: flex;
 padding: 10px 25px;
 box-shadow: 1px 5px 15px #ff0000ba;
 justify-content: space-between;
 box-sizing: border-box;
}
.containerLogo{
  width: 80px;
}

.containerLogo img{
  width: 250px;
}